@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The DOME</h1>
    <p>CRUD operation of books with validation if performed here using the MVC practice</p>
</div>
